<p id="notice"><%= notice %></p>

<p>
  <strong>Date played:</strong>
  <%= @game.date_played %>
</p>

<p>
  <strong>Oponent:</strong>
  <%= @game.oponent.email %>
</p>

<p>
  <strong>Score oponent:</strong>
  <%= @game.score_oponent %>
</p>

<p>
  <strong>User:</strong>
  <%= @game.user.email %>
</p>

<p>
  <strong>User score:</strong>
  <%= @game.user_score %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
